body {
    background-image: url('./images/Mascot Pictue Mock-up-Recovered.jpg');
    display: flex;
    justify-content: center;

    
    
    
    
    

}


h3 {
    color: rgb(241, 226, 4);
    font-family: fantasy ;
    padding-top: 20px;
}




.preview {
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.DeckList {
    color:whitesmoke;
    font-family: fantasy;
    font-weight: bold;
    font-size: large;

}

.WoRtools {
    display:flex;
    flex-direction: row;
    padding-top: 20px;
    color: rgb(241, 226, 4);
    font-family: fantasy;
    font-weight: bold;
    font-size: 50px;
    
    
}

.fabdeckbuilder {
    color:red;
    font-family: fantasy;
    font-weight: bold;
    font-size: 50px;
}

.pokemondeckbuilder {
    color:green;
    font-family: fantasy;
    font-weight: bold;
    font-size: 50px;
}
/* 
.MasterNav {
    display: flex;
   justify-content: center; 
} */







